

body{
    background-color: #fbfbfb;
}
section{
    width :1200px;
    margin: 0 auto;
}   
#hearder{
    padding: 50px;
}
#header div{
    display: inline-block;
}
#hearder .contato{
    float: right;
}
nav.menu{
    background-color:  #dbf614;
    text-align: center;
}
nav.menu ul li{
    display: inline-block;
    padding: 18px 90px;
    font-size:17px;
}
nav.menu ul li a{
    color: #000;
}
a{
    text-decoration: none;
}
.banner img {
    width: 100%;
}
.marcas ul li{
    display: inline-block;
    font-size: 35px;
    width: 16%;
    padding: 50px;
    line-height: 25px;
}
.financiamento {
    background: #dbf614;
    text-align: center;
    font-size: 30px;
    padding: 50px;
    font-weight: bold;
    line-height: 40px;
}
.item{
    display: inline-block;
    width: 30%;
    padding: 1.5%;
    text-align: center;
    font-size: 20px;
    line-height: 25px;
    font-weight: 40px;
    color: #474747;
}
a:hover{
    transition: 0.3s;
    opacity: 0.8;
}
.botao a {
    background: #000;
    color: white;
    padding-top: 7px;
}
.botao{
    margin-top: 20px;
}
.produtos{
    text-align: center;
}
.produtos .titulo{
    font-size: 45px;
    font-weight: bold;
}
.produtos .subtitulo{
    font-size: 30px;
    font-weight: bold;
    color: #474747;
    margin-bottom: 30px;
    margin-top: 10px;
}
.sublinhado{
    width: 150px;
    background: #dbf614;
    height: 10px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px; 
}